<div class="row mt-2">
  <div class="col">
    <mat-card appearance="outlined">
      <mat-card-content>
        <app-text-input [formControl]="formGroup().controls.text" [label]="{ text: 'QUESTION' }" />

        <app-radio
          [formControl]="formGroup().controls.correctAnswerOrdinalNumber"
          [options]="options"
          [optionTemplate]="optionAnswerTemplate"
          [optionValue]="optionValue"
          [disableLabelClick]="true"
          [color]="InputColor.Green"
        >
        </app-radio>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #optionAnswerTemplate let-option>
  <app-text-input [formControl]="option.control" [label]="{ text: 'ANSWER' }" />
</ng-template>
