<div class="row mb-3">
  <div class="col">
    <div class="d-flex align-items-center">
      @if (!isPreview()) {
        <div>
          @if (!form().isFirstQuestion(question())) {
            <app-button
              [icon]="Icon.ArrowUpward"
              (clicked)="form().moveForwardQuestion(question())"
            ></app-button>
          }
          @if (!form().isLastQuestion(question())) {
            <app-button
              [icon]="Icon.ArrowDownward"
              (clicked)="form().moveBackQuestion(question())"
            ></app-button>
          }
        </div>
      }
      <mat-card appearance="outlined" class="w-100">
        <mat-card-content>
          @switch (question().type) {
            @case (QuestionType.Open) {
              <app-quiz-persist-open-question [formGroup]="castToOpenQuestion()" [isPreview]="isPreview()" />
            }
            @case (QuestionType.SingleChoice) {
              <app-quiz-persist-single-choice-question
                [formGroup]="castToSingleChoiceQuestion()"
                [isPreview]="isPreview()"
              />
            }
            @case (QuestionType.MultipleChoice) {
              <app-quiz-persist-multiple-choice-question
                [formGroup]="castToMultipleChoiceQuestion()"
                [isPreview]="isPreview()"
              />
            }
          }

          @if (question().hasError("questionsAreUnique")) {
            <mat-error>{{ "QUESTIONS_MUST_BE_UNIQUE" | translate }}</mat-error>
          }
        </mat-card-content>
      </mat-card>
      @if (!isPreview()) {
        <app-button [icon]="Icon.Delete" (clicked)="form().removeQuestion(question())" />
      }
    </div>
  </div>
</div>
