<div class="app-sidebar-nav">
  <mat-sidenav-container autosize>
    <mat-sidenav
      #snav
      [mode]="isMobile() ? 'over' : 'side'"
      [class.desktop-sidenav]="!isMobile()"
      [class.mobile-sidenav]="isMobile()"
    >
      <div class="logo-container">
        <div class="logo" (click)="navigateToHome()">
          <img [ngSrc]="config().logoPath" [width]="100" [height]="99" priority alt="Logo" />
        </div>
        @if (isMobile()) {
          <button mat-icon-button (click)="snav.close()" class="close-button">
            <mat-icon>menu_open</mat-icon>
          </button>
        }
      </div>

      <mat-accordion displayMode="flat" multi>
        @for (firstLevel of config().menu; track firstLevel) {
          <div
            *hasPermission="firstLevel.permissions"
            class="first-level"
            [class.active-first-level]="firstLevel.isActive"
          >
            <mat-expansion-panel [hideToggle]="!firstLevel.isSecondLevel()" [expanded]="firstLevel.isActive">
              <mat-expansion-panel-header
                (click)="onMenuHeaderClick(firstLevel, snav)"
                [expandedHeight]="expandedHeight"
              >
                <mat-panel-title
                  [class.active-menu-element]="firstLevel.isActive"
                  [class.active-final-menu-element]="firstLevel.isFinalActive"
                >
                  @if (firstLevel.icon) {
                    <mat-icon>{{ firstLevel.icon }}</mat-icon>
                  }
                  <span class="menu-title menu-title-first">{{ firstLevel.text | translate }}</span>
                </mat-panel-title>
              </mat-expansion-panel-header>

              @for (secondLevel of firstLevel.nextLevels; track secondLevel) {
                <div
                  *hasPermission="secondLevel.permissions"
                  [class.active-menu-element]="secondLevel.isActive"
                  [class.active-second-level]="secondLevel.isActive"
                >
                  <mat-expansion-panel
                    [hideToggle]="!secondLevel.isThirdLevel()"
                    [expanded]="secondLevel.isActive"
                  >
                    <mat-expansion-panel-header
                      (click)="onMenuHeaderClick(secondLevel, snav)"
                      [expandedHeight]="expandedHeight"
                    >
                      <mat-panel-title
                        [class.active-menu-element]="secondLevel.isActive"
                        [class.active-final-menu-element]="secondLevel.isFinalActive"
                      >
                        @if (secondLevel.icon) {
                          <mat-icon>{{ secondLevel.icon }}</mat-icon>
                        }
                        <span class="menu-title">{{ secondLevel.text | translate }}</span>
                      </mat-panel-title>
                    </mat-expansion-panel-header>

                    @for (thirdLevel of secondLevel.nextLevels; track thirdLevel) {
                      <div
                        *hasPermission="thirdLevel.permissions"
                        [class.active-menu-element]="thirdLevel.isActive"
                        [class.active-third-level]="thirdLevel.isActive"
                      >
                        <mat-expansion-panel [hideToggle]="true" class="third-level">
                          <mat-expansion-panel-header
                            (click)="onMenuHeaderClick(thirdLevel, snav)"
                            [expandedHeight]="expandedHeight"
                          >
                            <mat-panel-title
                              [class.active-menu-element]="thirdLevel.isActive"
                              [class.active-final-menu-element]="thirdLevel.isFinalActive"
                            >
                              @if (thirdLevel.icon) {
                                <mat-icon>{{ thirdLevel.icon }}</mat-icon>
                              }
                              <span class="menu-title">{{ thirdLevel.text | translate }}</span>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                        </mat-expansion-panel>
                      </div>
                    }
                  </mat-expansion-panel>
                </div>
              }
            </mat-expansion-panel>
          </div>
        }
      </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button mat-icon-button (click)="snav.toggle()" class="menu-toggle">
          <mat-icon>menu</mat-icon>
        </button>
        <div class="nav-spacer"></div>
        <div class="nav-container">
          <a mat-button [routerLink]="''" (click)="authenticationService.logOut()">
            <mat-icon class="navigation-icon-padding">exit_to_app</mat-icon>
            <span class="nav-caption">{{ "LOG_OUT" | translate }}</span>
          </a>
        </div>
      </mat-toolbar>
      <div class="content">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
