@use "common-colors" as colors;

.app-sidebar-nav {
  height: 100vh;
  width: 100%;

  mat-sidenav-container {
    height: 100%;
    width: 100%;
  }

  ::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
  }

  .second-level {
    ::ng-deep mat-expansion-panel {
      padding-left: 15px !important;
    }
  }

  .desktop-sidenav {
    width: 18rem;
  }

  .mobile-sidenav {
    width: 100%;
  }

  mat-sidenav {
    border-radius: 0;
    background: colors.$app-backgroud;
    border-right: 1px solid var(--mat-sys-outline-variant);

    &.mat-sidenav-over {
      width: 100%;
    }
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    position: relative;

    .logo {
      cursor: pointer;
      display: flex;
      justify-content: center;
    }

    .close-button {
      position: absolute;
      right: 0.625rem;
    }
  }

  ::ng-deep .mat-toolbar {
    background: colors.$app-backgroud;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
  }
}

mat-expansion-panel {
  box-shadow: none !important;
}

.menu-title {
  padding-left: 10px;
}

.active-menu-element {
  color: colors.$app-secondary-dark;
}

.active-final-menu-element {
  color: colors.$app-light-blue !important;
}

.active-first-level {
  mat-expansion-panel-header {
    background: rgba(0, 0, 0, 0.02) !important;
  }
}

.active-second-level {
  mat-expansion-panel-header {
    background: rgba(0, 0, 0, 0.06) !important;
  }
}

.active-third-level {
  mat-expansion-panel-header {
    background: rgba(0, 0, 0, 0.1) !important;
  }
}

.nav-spacer {
  flex: 1 1 auto;
}

.menu-toggle {
  margin-right: 1rem;
}

.nav-container {
  display: flex;
  align-items: center;
}

.menu-title-first {
  font-size: larger;
}

.third-level {
  margin-left: 1rem;
}

mat-sidenav-content {
  overflow: hidden;
  background: colors.$app-backgroud;
}

.content {
  padding: 0.5rem;
  overflow: auto;
  height: calc(100vh - var(--mat-toolbar-standard-height, 4rem));
}
