<div class="d-flex align-items-center">
  <app-text-input
    class="w-100"
    [formControl]="formGroup().controls.text"
    [label]="{ text: 'QUESTION' }"
    [readonly]="isPreview()"
  />
  @if (!isPreview()) {
    <app-button [icon]="Icon.Add" (clicked)="formGroup().addAnswer()"></app-button>
  }
</div>

@for (answer of formGroup().controls.answers.controls; track answer) {
  <app-checkbox [formControl]="answer.controls.isCorrect" [disableLabelClick]="true" [readonly]="isPreview()">
    <div class="d-flex align-items-center">
      <app-text-input
        class="w-100"
        [formControl]="answer.controls.text"
        [label]="{ text: 'ANSWER' }"
        [readonly]="isPreview()"
      />
      @if (!isPreview()) {
        <app-button
          [icon]="Icon.Delete"
          (clicked)="formGroup().removeAnswer(answer.controls.ordinalNumber.value)"
        ></app-button>
      }
    </div>
  </app-checkbox>
}

@if (formGroup().hasError("minAnswersCount")) {
  <mat-error>{{ "CLOSED_QUESTION_MUST_HAVE_AT_LEAST_TWO_ANSWERS" | translate }}</mat-error>
} @else if (formGroup().hasError("answersAreUnique")) {
  <mat-error>{{ "ANSWERS_MUST_BE_UNIQUE" | translate }}</mat-error>
}
