@switch (column().type) {
  @case (AppTableColumnType.Text) {
    {{ column().getValue(row().data) }}
  }
  @case (AppTableColumnType.Number) {
    <span>{{ column().getValue(row().data) }}</span>
  }
  @case (AppTableColumnType.Date) {
    {{ column().getValue(row().data) | date: DateFormat.Date }}
  }
  @case (AppTableColumnType.DateWithTime) {
    {{ column().getValue(row().data) | date: DateFormat.DateWithTime }}
  }
  @case (AppTableColumnType.Hours) {
    {{ column().getValue(row().data) | date: DateFormat.Hours : "UTC" }}
  }
  @case (AppTableColumnType.Minutes) {
    {{ column().getValue(row().data) | date: DateFormat.Minutes : "UTC" }}
  }
  @case (AppTableColumnType.Boolean) {
    <div class="app-table-checkbox-input">
      <mat-checkbox
        [checked]="column().getValue(row().data)"
        [disableRipple]="true"
        (click)="$event.preventDefault()"
      />
    </div>
  }
  @case (AppTableColumnType.Percent) {
    {{ getPercent(column().getValue(row().data)) }}
  }
  @case (AppTableColumnType.Price) {
    {{ getPrice(column().getValue(row().data)) }}
  }
  @case (AppTableColumnType.Enum) {
    {{ getEnumText(column(), column().getValue(row().data)) }}
  }
  @case (AppTableColumnType.Image) {
    @if (column().imgPatch && column().imgPatch!(row().data)) {
      <img class="cell-img" alt="picture" [src]="column().imgPatch!(row().data)" />
    }
  }
}
