.checkbox-input {
  ::ng-deep mat-checkbox {
    width: 100%;

    .mdc-form-field {
      width: 100%;

      .mdc-label {
        width: 100%;
      }
    }
  }
}

.checkbox-readonly {
  pointer-events: none;
}

@mixin checkbox-color($color) {
  .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background {
    border-color: var($color);
    background-color: var($color);
  }

  .mdc-checkbox__background {
    border-color: var($color);
  }

  div {
    color: var($color);
  }
}

:host ::ng-deep .checkbox-red {
  @include checkbox-color(--bs-red);
}

:host ::ng-deep .checkbox-green {
  @include checkbox-color(--bs-green);
}
