<div [class]="['app-checkbox-input', getCheckBoxColorClass(color())]">
  <mat-checkbox
    [class.app-checkbox-input-readonly]="readonly()"
    [labelPosition]="labelPosition()"
    [disableRipple]="true"
    [formControl]="innerFormControl"
    (click)="readonly() ? $event.preventDefault() : null"
  >
    <div (click)="disableLabelClick() ? $event.preventDefault() : null">
      <ng-content #customLabel></ng-content>

      @if (!childComponent()) {
        @if (innerLabel) {
          {{ innerLabel | textConfigTranslate }}
        }
      }
    </div>
  </mat-checkbox>
</div>
