<mat-form-field>
  <input
    matInput
    [readonly]="readonly()"
    [type]="innerType"
    [disabled]="innerDisabled"
    [formControl]="formControl"
    [minlength]="minLength() ?? null"
    [maxlength]="maxLength() ?? null"
    placeholder="{{ innerLabel | textConfigTranslate }}"
  />

  @if (passwordShowButton()) {
    <button
      mat-icon-button
      matSuffix
      (click)="changePasswordHideState()"
      [attr.aria-pressed]="isPasswordHidden"
    >
      <mat-icon>{{
        isPasswordHidden ? Icon.VisibilityOff : Icon.Visibility
      }}</mat-icon>
    </button>
  }

  @if (hint()) {
    <app-hint [config]="hint()!" [template]="hintTemplate()"></app-hint>
  }

  <app-input-error [error]="attribute()?.error"></app-input-error>
</mat-form-field>
