<mat-form-field>
  <mat-label>{{ innerLabel | textConfigTranslate }}</mat-label>
  <input
    matInput
    [readonly]="readonly()"
    [type]="innerType"
    [formControl]="formControl()"
    [minlength]="minLength() ?? null"
    [maxlength]="maxLength() ?? null"
  />

  @if (passwordShowButton()) {
    <button
      mat-icon-button
      matSuffix
      (click)="changePasswordHideState()"
      [attr.aria-pressed]="isPasswordHidden"
    >
      <mat-icon>{{ isPasswordHidden ? Icon.VisibilityOff : Icon.Visibility }} </mat-icon>
    </button>
  }

  @if (hint()) {
    <app-hint [config]="hint()!" [template]="hintTemplate()"></app-hint>
  }

  @if (formControl().hasError(InputValidation.Required)) {
    <app-input-error [message]="{ text: 'FIELD_IS_REQUIRED' }" />
  } @else if (minLength() && maxLength()) {
    @if (
      formControl().hasError(InputValidation.MinLength) ||
      formControl().hasError(InputValidation.MaxLength)
    ) {
      <app-input-error
        [message]="{
          text: 'VALID_TEXT_RANGE',
          params: {
            min: this.minLength(),
            max: this.maxLength(),
          },
        }"
      />
    } @else {
      @if (formControl().hasError(InputValidation.MinLength)) {
        <app-input-error
          [message]="{
            text: 'MIN_TEXT_LENGTH',
            params: {
              value: this.minLength(),
            },
          }"
        />
      }

      @if (formControl().hasError(InputValidation.MaxLength)) {
        <app-input-error
          [message]="{
            text: 'MAX_TEXT_LENGTH',
            params: {
              value: this.maxLength(),
            },
          }"
        />
      }
    }
  }
</mat-form-field>
