<mat-form-field>
  <mat-label>{{ innerLabel | textConfigTranslate }}</mat-label>
  <input
    matInput
    [readonly]="readonly()"
    [type]="innerType"
    [formControl]="formControl()"
    [minlength]="minLength() ?? null"
    [maxlength]="maxLength() ?? null"
  />

  @if (passwordShowButton()) {
    <button
      mat-icon-button
      matSuffix
      (click)="changePasswordHideState()"
      [attr.aria-pressed]="isPasswordHidden"
    >
      <mat-icon>{{ isPasswordHidden ? Icon.VisibilityOff : Icon.Visibility }} </mat-icon>
    </button>
  }

  @if (hint()) {
    <app-hint [config]="hint()!" [template]="hintTemplate()"></app-hint>
  }

  @if (formControl().hasError(InputValidation.Required)) {
    <mat-error>{{ "FIELD_IS_REQUIRED" | translate }} </mat-error>
  } @else if (minLength() && maxLength()) {
    @if (
      formControl().hasError(InputValidation.MinLength) || formControl().hasError(InputValidation.MaxLength)
    ) {
      <mat-error>
        {{ "VALID_TEXT_RANGE" | translate: { min: this.minLength(), max: this.maxLength() } }}
      </mat-error>
    } @else {
      @if (formControl().hasError(InputValidation.MinLength)) {
        <mat-error>
          {{ "MIN_TEXT_LENGTH" | translate: { value: this.minLength() } }}
        </mat-error>
      }

      @if (formControl().hasError(InputValidation.MaxLength)) {
        <mat-error>
          {{ "MAX_TEXT_LENGTH" | translate: { value: this.maxLength() } }}
        </mat-error>
      }
    }
  }
</mat-form-field>
