<div class="d-flex align-items-center">
  <app-text-input
    class="w-100"
    [formControl]="formGroup().controls.text"
    [label]="{ text: 'QUESTION' }"
    [readonly]="isPreview()"
  />
  @if (!isPreview()) {
    <app-button [icon]="Icon.Add" (onClick)="formGroup().addAnswer()" />
  }
</div>

<app-radio
  [formControl]="formGroup().controls.correctAnswerOrdinalNumber"
  [options]="options"
  [optionTemplate]="optionAnswerTemplate"
  [optionValue]="optionValue"
  [disableLabelClick]="true"
  [readonly]="isPreview()"
/>

@if (formGroup().hasError("minAnswersCount")) {
  <mat-error>{{ "CLOSED_QUESTION_MUST_HAVE_AT_LEAST_TWO_ANSWERS" | translate }}</mat-error>
} @else if (formGroup().hasError("answersAreUnique")) {
  <mat-error>{{ "ANSWERS_MUST_BE_UNIQUE" | translate }}</mat-error>
}

<ng-template #optionAnswerTemplate let-option>
  <div class="d-flex align-items-center">
    <app-text-input
      class="w-100"
      [formControl]="option.control"
      [label]="{ text: 'ANSWER' }"
      [readonly]="isPreview()"
    />
    @if (!isPreview()) {
      <app-button [icon]="Icon.Delete" (onClick)="formGroup().removeAnswer(option.ordinalNumber)" />
    }
  </div>
</ng-template>
