@if (config().filter) {
  <mat-form-field class="filter">
    <mat-label>{{ "FILTER" | translate }}</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      [placeholder]="config().filter!.placeholder"
    />
  </mat-form-field>
}

<div class="table-margin mat-elevation-z8">
  <mat-table
    [class.disable-table]="shouldShowSpinner"
    [dataSource]="dataSource"
    matSort
  >
    @for (column of config().columns; track column.columnDef) {
      <app-table-column [column]="column"></app-table-column>
    }

    @for (column of config().columnsWithIcon; track column.columnName) {
      <ng-container [matColumnDef]="column.columnName">
        <mat-header-cell *matHeaderCellDef class="action-column-width" />
        <mat-cell *matCellDef="let row" class="action-column-width">
          <button
            mat-icon-button
            class="action-button"
            [disabled]="shouldShowSpinner"
            (click)="column.onClick(row.data)"
          >
            <mat-icon>{{ column.icon }}</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    }

    @if (config().actionsDefinition) {
      <app-table-actions-definition
        [actionsDefinition]="config().actionsDefinition!"
        [shouldShowSpinner]="shouldShowSpinner"
      ></app-table-actions-definition>
    }

    <ng-container matColumnDef="tableIsEmptyColumn">
      <mat-footer-cell *matFooterCellDef class="empty-table-cell">
        <span>{{ "EMPTY_TABLE" | translate }}</span>
      </mat-footer-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="config().columnNames; sticky: config().headerSticky"
    />
    <mat-row
      *matRowDef="let row; columns: config().columnNames"
      [class.mark-row]="config().markRowCondition(row.data)"
      [class.hovered]="row.hovered"
      [class.highlighted]="selection.isSelected(row)"
      (click)="onRowClick(row)"
      (mouseover)="onMouseOver(row)"
      (mouseout)="onMouseOut(row)"
    />
    <mat-footer-row
      *matFooterRowDef="['tableIsEmptyColumn']"
      class="empty-table"
      [class.hide-element]="!isTableEmpty"
    />
  </mat-table>

  @if (config().paginator) {
    <mat-paginator
      [pageSizeOptions]="config().paginator!.getPageSizes()"
      [pageSize]="config().paginator!.defaultPageSize"
      [showFirstLastButtons]="config().paginator!.showFirstLastButtons"
    />
  }

  @if (shouldShowSpinner) {
    <div class="inner">
      <mat-spinner />
    </div>
  }
</div>
