@use "common-colors" as colors;

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disable-table {
  opacity: 0.5;
}

.empty-table {
  min-height: 30vh;
}

.empty-table-cell {
  width: 100%;

  span {
    margin: 0 auto;
  }
}

.app-table-checkbox-input {
  width: 100%;
  text-align: center;

  ::ng-deep .mat-ripple {
    display: none !important;
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    background-color: colors.$app-primary !important;
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: colors.$app-primary;
  }

  ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
  }

  mat-checkbox {
    cursor: default !important;
  }

  ::ng-deep .mat-checkbox-layout {
    margin-bottom: 0 !important;
  }
}

.table-margin > .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 -50% 0 0;
  transform: translate(-50%, -50%);
}

.search {
  width: 100%;
}

.mark-row {
  background-color: colors.$app-lavender;
}

.hovered {
  background: colors.$app-hovered;
}

.highlighted {
  background: colors.$app-highlighted;
}

.hide-element {
  display: none;
}
