@if (config().filter) {
  <mat-form-field class="filter">
    <mat-label>{{ "FILTER" | translate }}</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      [placeholder]="config().filter!.placeholder"
    />
  </mat-form-field>
}

<div class="table-margin mat-elevation-z8">
  <mat-table
    [class.disable-table]="shouldShowSpinner"
    [dataSource]="dataSource"
    matSort
  >
    @for (column of config().columns; track column.field) {
      <ng-container
        [matColumnDef]="column.field"
        [sticky]="column.sticky"
        [stickyEnd]="column.stickyEnd"
      >
        <mat-header-cell
          *matHeaderCellDef
          [style]="'min-width:' + column.minWidth"
          matSort
        >
          {{ column.header | textConfigTranslate }}
        </mat-header-cell>

        <mat-cell
          *matCellDef="let row"
          [style]="'min-width:' + column.minWidth"
        >
          @switch (column.type) {
            @case (AppTableColumnType.Text) {
              {{ column.getValue(row.data) }}
            }
            @case (AppTableColumnType.Number) {
              <span>{{ column.getValue(row.data) }}</span>
            }
            @case (AppTableColumnType.Date) {
              {{ column.getValue(row.data) | date: DateFormat.Date }}
            }
            @case (AppTableColumnType.DateWithTime) {
              {{ column.getValue(row.data) | date: DateFormat.DateWithTime }}
            }
            @case (AppTableColumnType.Hours) {
              {{ column.getValue(row.data) | date: DateFormat.Hours : "UTC" }}
            }
            @case (AppTableColumnType.Minutes) {
              {{ column.getValue(row.data) | date: DateFormat.Minutes : "UTC" }}
            }
            @case (AppTableColumnType.Boolean) {
              <div class="app-table-checkbox-input">
                <mat-checkbox
                  [checked]="column.getValue(row.data)"
                  [disableRipple]="true"
                  (click)="$event.preventDefault()"
                />
              </div>
            }
            @case (AppTableColumnType.Percent) {
              {{ getPercent(column.getValue(row.data)) }}
            }
            @case (AppTableColumnType.Price) {
              {{ getPrice(column.getValue(row.data)) }}
            }
            @case (AppTableColumnType.Enum) {
              {{ getEnumText(column, column.getValue(row.data)) }}
            }
            @case (AppTableColumnType.Image) {
              @if (column.imgPatch && column.imgPatch(row.data)) {
                <img
                  class="cell-img"
                  alt="picture"
                  [src]="column.imgPatch(row.data)"
                />
              }
            }
          }
        </mat-cell>
      </ng-container>
    }

    @for (column of config().columnsWithIcon; track column.columnName) {
      <ng-container [matColumnDef]="column.columnName">
        <mat-header-cell *matHeaderCellDef class="action-column-width" />
        <mat-cell *matCellDef="let row" class="action-column-width">
          <button
            mat-icon-button
            class="action-button"
            [disabled]="shouldShowSpinner"
            (click)="column.onClick(row.data)"
          >
            <mat-icon>{{ column.icon }}</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    }

    @if (config().actionsDefinition) {
      <ng-container
        [matColumnDef]="config().actionsDefinition!.name"
        [stickyEnd]="config().actionsDefinition!.stickyEnd"
      >
        <mat-header-cell *matHeaderCellDef class="action-column-width" />
        <mat-cell *matCellDef="let row" class="action-column-width">
          <button
            mat-icon-button
            [disabled]="shouldShowSpinner"
            [matMenuTriggerFor]="actions"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #actions="matMenu">
            @for (
              action of config().actionsDefinition!.actions;
              track action.name
            ) {
              <button
                mat-menu-item
                [hidden]="
                  applyBooleanOrCallableColumnValue(action.hide, row.data)
                "
                (click)="action.onClick(row.data)"
                [disabled]="action.disabled(row.data)"
              >
                @if (action.icon) {
                  <mat-icon>{{ action.icon }}</mat-icon>
                }
                @if (action.name) {
                  <span>{{ action.name | textConfigTranslate }}</span>
                }
              </button>
            }
          </mat-menu>
        </mat-cell>
      </ng-container>
    }

    <ng-container matColumnDef="tableIsEmptyColumn">
      <mat-footer-cell *matFooterCellDef class="empty-table-cell">
        <span>{{ "EMPTY_TABLE" | translate }}</span>
      </mat-footer-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="config().columnNames; sticky: config().headerSticky"
    />
    <mat-row
      *matRowDef="let row; columns: config().columnNames"
      [class.mark-row]="config().markRowCondition(row.data)"
      [class.hovered]="row.hovered"
      [class.highlighted]="selection.isSelected(row)"
      (click)="onRowClick(row)"
      (mouseover)="onMouseOver(row)"
      (mouseout)="onMouseOut(row)"
    />
    <mat-footer-row
      *matFooterRowDef="['tableIsEmptyColumn']"
      class="empty-table"
      [class.hide-element]="!isTableEmpty"
    />
  </mat-table>

  @if (config().paginator) {
    <mat-paginator
      [pageSizeOptions]="config().paginator!.getPageSizes()"
      [pageSize]="config().paginator!.defaultPageSize"
      [showFirstLastButtons]="config().paginator!.showFirstLastButtons"
    />
  }

  @if (shouldShowSpinner) {
    <div class="inner">
      <mat-spinner />
    </div>
  }
</div>
