<app-async-page [showSpinner]="isLoading" class="center-container-2">
  <mat-card>
    <mat-card-content>
      <form>
        <div class="mb-2">
          <app-text-input
            [label]="{ text: 'EMAIL' }"
            [formControl]="form.controls.email"
            [type]="TextInputType.Email"
          />
        </div>
        <div class="mb-3">
          <app-text-input
            [label]="{ text: 'PASSWORD' }"
            [formControl]="form.controls.password"
            [type]="TextInputType.Password"
            [minLength]="Validators.PasswordMinLength"
            [maxLength]="Validators.PasswordMaxLength"
            [error]="Utils.TryGetPasswordFormatError(form.controls.password)"
          />
        </div>
        @if (tryGetInvalidAuthDataError()) {
          <mat-error class="mt-2 mb-2">{{ tryGetInvalidAuthDataError() | textConfigTranslate }}</mat-error>
        }
        <div class="col d-flex justify-content-end">
          <app-button class="me-2" [style]="ButtonStyle.Outlined" [text]="{ text: 'REGISTER' }" />
          <app-button [text]="{ text: 'LOG_IN' }" [disabled]="form.invalid" (onClick)="logIn()" />
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</app-async-page>
