<mat-form-field>
  <mat-label>{{ innerLabel | textConfigTranslate }}</mat-label>
  <input
    matInput
    [readonly]="readonly()"
    type="number"
    [formControl]="formControl()"
    [min]="min() ?? null"
    [max]="max() ?? null"
  />

  @if (hint()) {
    <app-hint [config]="hint()!" [template]="hintTemplate()"></app-hint>
  }

  @if (formControl().hasError(InputValidation.Min)) {
    <mat-error>{{ "MIN_VALUE" | translate: { value: min() } }} </mat-error>
  } @else if (formControl().hasError(InputValidation.Max)) {
    <mat-error>{{ "MAX_VALUE" | translate: { value: max() } }} </mat-error>
  } @else if (formControl().hasError(InputValidation.Required)) {
    <mat-error>{{ "FIELD_IS_REQUIRED" | translate }} </mat-error>
  }
</mat-form-field>
