<mat-form-field>
  <mat-label>{{ innerLabel | textConfigTranslate }}</mat-label>
  <input
    matInput
    [readonly]="readonly()"
    type="number"
    [formControl]="formControl()"
    [min]="min() ?? null"
    [max]="max() ?? null"
  />

  @if (hint()) {
    <app-hint [config]="hint()!" [template]="hintTemplate()"></app-hint>
  }

  @if (formControl().hasError(InputValidation.Min)) {
    <app-input-error [message]="{ text: 'MIN_VALUE', params: { value: min() } }" />
  } @else if (formControl().hasError(InputValidation.Max)) {
    <app-input-error [message]="{ text: 'MAX_VALUE', params: { value: max() } }" />
  } @else if (formControl().hasError(InputValidation.Required)) {
    <app-input-error [message]="{ text: 'FIELD_IS_REQUIRED' }" />
  }
</mat-form-field>
