@if (innerLabel) {
  <div class="mb-2">
    <mat-label>
      {{ innerLabel | textConfigTranslate }}
    </mat-label>
  </div>
}

<mat-radio-group
  class="radio-group"
  [className]="getRadioButtonColorClass(color())"
  [formControl]="formControl()"
>
  @for (option of options(); track option) {
    <mat-radio-button
      [class.readonly-radio-checkbox-input]="readonly()"
      [class.disabled-radio-checkbox-input]="formControl().disabled"
      class="radio-button radio-button-rows"
      [disableRipple]="readonly"
      [value]="option"
      (click)="readonly() ? $event.preventDefault() : null"
    >
      <ng-container
        *ngIf="optionTpl; else defaultOptionTemplate"
        [ngTemplateOutlet]="optionTpl"
        [ngTemplateOutletContext]="{
          $implicit: option,
          option: option,
          selected: formControl().value,
        }"
      >
      </ng-container>

      <ng-template #defaultOptionTemplate>
        <span>
          {{ getOptionText(option) | conditionalTranslate: translateOptionLabel }}
        </span>
      </ng-template>
    </mat-radio-button>
  }
</mat-radio-group>
