@if (innerLabel) {
  <div class="mb-2">
    <mat-label>
      {{ innerLabel | textConfigTranslate }}
    </mat-label>
  </div>
}

<mat-radio-group [class.d-flex]="!vertical()" [formControl]="innerFormControl">
  @for (option of options(); track $index) {
    <mat-radio-button
      [class.readonly]="readonly()"
      [class.disabled-radio-input]="innerFormControl.disabled"
      [class.radio-button-vertical-rows]="vertical()"
      [class]="['radio-button', 'radio-button-rows', getRadioButtonColorClass(option)]"
      [value]="getOptionValue(option)"
    >
      <div (click)="disableLabelClick() ? $event.preventDefault() : null">
        @if (optionTemplate()) {
          <ng-container
            [ngTemplateOutlet]="optionTemplate()"
            [ngTemplateOutletContext]="{
              $implicit: option,
              option: option,
              selectedValue: innerFormControl.value,
            }"
          >
          </ng-container>
        } @else {
          <span>
            {{ getOptionText(option) | textConfigTranslate }}
          </span>
        }
      </div>
    </mat-radio-button>
  }
</mat-radio-group>
