::ng-deep .mat-radio-label {
  width: fit-content !important;
  cursor: pointer !important;
}

.radio-button-rows {
  display: flex;

  ::ng-deep .mdc-label {
    width: 100%;
  }
}

.radio-button-vertical {
  display: flex;
}

.radio-button-vertical-rows {
  flex-direction: column;
}

.disabled-radio-input {
  ::ng-deep label {
    cursor: default !important;
  }
}

.radio-readonly {
  pointer-events: none;
}

@mixin radio-button-color($color) {
  .mdc-radio__native-control:enabled:checked + .mdc-radio__background > .mdc-radio__outer-circle {
    border-color: var($color);
  }

  .mdc-radio__native-control:enabled:checked + .mdc-radio__background > .mdc-radio__inner-circle {
    background-color: var($color);
  }

  .mdc-radio__native-control:enabled:not(:checked) + .mdc-radio__background > .mdc-radio__outer-circle {
    border-color: var($color);
  }

  div {
    color: var($color);
  }
}

:host ::ng-deep .radio-button-red {
  @include radio-button-color(--bs-red);
}

:host ::ng-deep .radio-button-green {
  @include radio-button-color(--bs-green);
}
