<app-async-page [showSpinner]="isLoading">
  <div class="container mt-2 mb-2">
    @if (!isLoading) {
      <form>
        @for (question of questions; track question.ordinalNumber) {
          <app-quiz-run-question [question]="question" />
        }
      </form>
      <div class="row mt-2">
        <div class="col d-flex justify-content-end">
          <app-button class="me-2" [text]="{ text: 'CANCEL' }" [style]="ButtonStyle.Outlined" />
          <app-button [text]="{ text: 'SAVE' }" (onClick)="persist()" />
        </div>
      </div>
    }
  </div>
</app-async-page>
