<mat-form-field appearance="fill" class="w-100">
  <mat-label>{{ innerLabel | textConfigTranslate }}</mat-label>
  <mat-select [formControl]="formControl()">
    @for (element of dataSource(); track element) {
      <mat-option [value]="valueSelector()(element)">
        {{ optionTextSelector()(element) | textConfigTranslate }}
      </mat-option>
    }
  </mat-select>

  @if (formControl().hasError(InputValidation.Required)) {
    <mat-error>{{ "FIELD_IS_REQUIRED" | translate }} </mat-error>
  }
</mat-form-field>
