<app-async-page [showSpinner]="isLoading">
  <div class="container mt-2 mb-2">
    @if (!isLoading) {
      <form>
        <app-quiz-persist-header [context]="context" />

        @for (question of questions; track question) {
          <app-quiz-persist-question [question]="question" />
        }
      </form>
      <div class="row mt-2">
        <div class="col d-flex justify-content-start">
          <app-menu [text]="{ text: 'ADD_QUESTION' }">
            <app-menu-button>{{ "OPEN" | translate }}</app-menu-button>
            <app-menu-button>{{ "SINGLE_CHOICE" | translate }}</app-menu-button>
            <app-menu-button>{{ "MULTIPLE_CHOICE" | translate }}</app-menu-button>
          </app-menu>
        </div>
        <div class="col d-flex justify-content-end">
          <app-button class="me-2" [text]="{ text: 'CANCEL' }" [style]="ButtonStyle.Outlined" />
          <app-button [text]="{ text: 'SAVE' }" />
        </div>
      </div>
    }
  </div>
</app-async-page>
