<app-async-page [showSpinner]="isLoading">
  <div class="container mt-2 mb-2">
    @if (isInitialized) {
      <form>
        <app-quiz-persist-header [form]="form" />

        @if (form.hasError("minQuestionsCount")) {
          <mat-error>{{ "AT_LEAST_ONE_QUESTION_IS_REQUIRED" | translate }}</mat-error>
        } @else if (form.hasError("questionsAreUnique")) {
          <mat-error>{{ "QUESTIONS_MUST_BE_UNIQUE" | translate }}</mat-error>
        }

        @for (question of form.getQuestions(); track question.controls.ordinalNumber.value) {
          <app-quiz-persist-question [form]="form" [question]="question" />
        }
      </form>
      <div class="row mt-2">
        <div class="col d-flex justify-content-start">
          <app-menu [text]="{ text: 'ADD_QUESTION' }">
            <app-menu-button (onClick)="form.addOpenQuestion()">{{ "OPEN" | translate }}</app-menu-button>
            <app-menu-button (onClick)="form.addSingleChoiceQuestion()">{{
              "SINGLE_CHOICE" | translate
            }}</app-menu-button>
            <app-menu-button (onClick)="form.addMultipleChoiceQuestion()">{{
              "MULTIPLE_CHOICE" | translate
            }}</app-menu-button>
          </app-menu>
        </div>
        <div class="col d-flex justify-content-end">
          <app-button class="me-2" [text]="{ text: 'CANCEL' }" [style]="ButtonStyle.Outlined" />
          <app-button [text]="{ text: 'SAVE' }" (onClick)="persist()" />
        </div>
      </div>
    }
  </div>
</app-async-page>
