$app-primary: blue;
$app-secondary-light: yellow;
$app-secondary-dark: grey;
$app-backgroud: white;
$app-main: blue;
$app-error: #d31111;
$app-white: #ffffff;
$app-warn: #ed920b;
$app-success: #4caf50;
$app-info: #0870e0;
$app-black: #000000;
$app-light-blue: #007bff;
$app-white-smoke: whitesmoke;
$app-highlighted: purple;
$app-lavender: orange;
$app-hovered: green;
