@use "common-colors" as colors;

.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  > * {
    width: 100%;
  }
}

.center-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.center-row-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.readonly {
  pointer-events: none;
}

@mixin app-snackbar($color) {
  > div {
    background-color: $color !important;
  }

  simple-snack-bar {
    color: colors.$app-white !important;

    button {
      color: colors.$app-white !important;
    }
  }
}

.success-snackbar {
  @include app-snackbar(colors.$app-success);
}

.error-snackbar {
  @include app-snackbar(colors.$app-error);
}

.warning-snackbar {
  @include app-snackbar(colors.$app-warn);
}

.info-snackbar {
  @include app-snackbar(colors.$app-info);
}
