$app-primary: blue;
$app-secondary-light: yellow;
$app-secondary-dark: grey;
$app-backgroud: white;
$app-main: blue;
$app-error: red;
$app-white: #FFFFFF;
$app-warn: #ff9800;
$app-success: #4caf50;
$app-black: #000000;
$app-light-blue: #007bff;
$app-white-smoke: whitesmoke;
$app-highlighted: purple;
$app-lavender: orange;
$app-hovered: green;
