<app-async-page [showSpinner]="isLoading" class="center-container-2">
  <mat-card>
    <mat-card-content>
      <form>
        <div class="mb-2">
          <app-text-input
            [label]="{ text: 'EMAIL' }"
            [formControl]="form.controls.email"
            [type]="TextInputType.Email"
            [error]="tryGetEmailAdditionalError()"
          />
        </div>
        <div class="mb-3">
          <app-text-input
            [label]="{ text: 'PASSWORD' }"
            [formControl]="form.controls.password"
            [type]="TextInputType.Password"
            [minLength]="Validators.PasswordMinLength"
            [maxLength]="Validators.PasswordMaxLength"
            [error]="Utils.TryGetPasswordFormatError(form.controls.password)"
          />
        </div>
        <div class="mb-3">
          <app-text-input
            [label]="{ text: 'CONFIRM_PASSWORD' }"
            [formControl]="form.controls.confirmedPassword"
            [type]="TextInputType.Password"
            [minLength]="Validators.PasswordMinLength"
            [maxLength]="Validators.PasswordMaxLength"
            [error]="tryGetConfirmedPasswordAdditionalError()"
          />
        </div>
        <div class="col d-flex justify-content-end">
          <app-button
            class="me-2"
            [style]="ButtonStyle.Outlined"
            [text]="{ text: 'BACK' }"
            (onClick)="redirectToLogin()"
          />
          <app-button [text]="{ text: 'REGISTER' }" [disabled]="form.invalid" (onClick)="register()"/>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</app-async-page>
