@if (isAnyMessage) {
  <div class="container error-container">
    <div class="row center-row-content">
      <div class="col error-icon">
        <mat-icon>{{ Icon.Error }}</mat-icon>
      </div>
      @if (isOnlyOneMessage) {
        <div class="col error-text error-text-one-line">
          {{ messages()[0] | conditionalTranslate: translateMessage() }}
        </div>
      } @else {
        <div class="col error-text">
          <ul class="error-text-list">
            @for (message of messages(); track message) {
              <li>
                {{ message | conditionalTranslate: translateMessage() }}
              </li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
}
