title {
  display: flex;
  font-size: large !important;
}

.close-button {
  position: relative;
  left: 93%;
  top: 0.5rem;
  cursor: pointer;
}

::ng-deep .max-modal-width {
  > .cdk-overlay-container > .cdk-global-overlay-wrapper > .cdk-overlay-pane {
    max-width: 99vw !important;
  }
}

::ng-deep .app-modal {
  .app-modal-content-max-width {
    padding: 0 5px !important;
  }
}
