<div class="row mb-3">
  <div class="col">
    <div class="d-flex align-items-center">
      <mat-card appearance="outlined" class="w-100">
        <mat-card-header>{{ question().text }}</mat-card-header>
        <mat-card-content>
          @switch (question().type) {
            @case (QuestionType.Open) {
              <app-textarea-input [formControl]="castToOpenQuestion()" [label]="{ text: 'ANSWER' }" />
            }
            @case (QuestionType.SingleChoice) {
              <app-quiz-run-single-choice-question [question]="castToSingleChoiceQuestion()" />
            }
            @case (QuestionType.MultipleChoice) {
              @for (answer of castToMultipleChoiceQuestion().controls; track answer.response.ordinalNumber) {
                <app-checkbox [formControl]="answer" [label]="{ text: answer.response.text }" />
              }
            }
          }
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
