<div class="row">
  <div class="col">
    <app-text-input
      [formControl]="form().controls.title"
      [label]="{ text: 'TITLE' }"
      [minLength]="Constants.MinTitleLength"
      [maxLength]="Constants.MaxTitleLength"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <app-textarea-input
      [formControl]="form().controls.description"
      [label]="{ text: 'DESCRIPTION' }"
      [maxLength]="Constants.MaxDescriptionLength"
    />
  </div>
</div>
<div class="row">
  <div class="col">
    <app-time-span class="d-block mb-2" [formGroup]="form().controls.duration" [maxHours]="3" />
  </div>
</div>
<div class="row">
  <div class="col">
    <app-number-input
      [formControl]="form().controls.questionsCountInRunningQuiz"
      [min]="Constants.MinQuestionsCountInRunningQuiz"
      [max]="maxQuestionsCountInRunningQuiz"
      [label]="{ text: 'QUESTIONS_COUNT_IN_RUNNING_QUIZ' }"
    />
  </div>
  <div class="col">
    <app-select
      [formControl]="form().controls.copyMode"
      [label]="{ text: 'COPY_MODE' }"
      [dataSource]="copyModes"
    />
  </div>
</div>
<div class="row mb-2">
  <div class="col">
    <app-checkbox [formControl]="form().controls.randomQuestions" [label]="{ text: 'RANDOM_QUESTIONS' }" />
  </div>
  <div class="col">
    <app-checkbox [formControl]="form().controls.randomAnswers" [label]="{ text: 'RANDOM_ANSWERS' }" />
  </div>
  <div class="col">
    <app-checkbox [formControl]="form().controls.negativePoints" [label]="{ text: 'NEGATIVE_POINTS' }" />
  </div>
</div>
