@use "@angular/material" as mat;
@use "../public/styles/theme" as theme;

@include mat.core();

$base: mat.define-theme(
  (
    color: (
      theme-type: light,
    ),
  )
);

:root {
  @include mat.theme($base);
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
