<button mat-icon-button [disabled]="shouldShowSpinner()" [matMenuTriggerFor]="actions">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #actions="matMenu">
  @for (action of actionsDefinition().actions; track action.name) {
    <button
      mat-menu-item
      [hidden]="applyBooleanOrCallableColumnValue(action.hide, data())"
      (click)="action.onClick(data())"
      [disabled]="action.disabled(data())"
    >
      @if (action.icon) {
        <mat-icon>{{ action.icon }}</mat-icon>
      }
      @if (action.name) {
        <span>{{ action.name | textConfigTranslate }}</span>
      }
    </button>
  }
</mat-menu>
