<div class="row">
  <div class="col">
    <mat-card appearance="outlined">
      <mat-card-content>
        <div class="d-flex">
          <app-text-input
            class="w-100"
            [formControl]="formGroup().controls.text"
            [label]="{ text: 'QUESTION' }"
          />
          <app-button [icon]="Icon.Add" (onClick)="formGroup().addAnswer()"></app-button>
        </div>

        @for (answer of formGroup().controls.answers.controls; track answer) {
          <app-checkbox [formControl]="answer.controls.isCorrect" [disableLabelClick]="true">
            <div class="d-flex">
              <app-text-input
                class="w-100"
                [formControl]="answer.controls.text"
                [label]="{ text: 'ANSWER' }"
              />
              <app-button
                [icon]="Icon.Delete"
                (onClick)="formGroup().removeAnswer(answer.controls.ordinalNumber.value)"
              ></app-button>
            </div>
          </app-checkbox>
        }
      </mat-card-content>
    </mat-card>
  </div>
</div>
