<div class="app-button" [className]="color() + '-color'">
  @if (matStepperNext()) {
    <button
      mat-raised-button
      matStepperNext
      [matTooltip]="getText(innerTooltip)"
      [disabled]="disabled()"
      [color]="color()"
      [matButton]="style()"
      (click)="clicked.emit()"
      type="button"
    >
      {{ innerText | textConfigTranslate }}
    </button>
  } @else if (this.icon()) {
    <button
      mat-icon-button
      [matTooltip]="getText(innerTooltip)"
      [disabled]="disabled()"
      [color]="color()"
      (click)="clicked.emit()"
      type="button"
    >
      <mat-icon>{{ icon() }}</mat-icon>
    </button>
  } @else {
    <button
      mat-raised-button
      [matTooltip]="getText(innerTooltip)"
      [disabled]="disabled()"
      [color]="color()"
      [matButton]="style()"
      (click)="clicked.emit()"
      type="button"
    >
      {{ innerText | textConfigTranslate }}
    </button>
  }
</div>
