<div class="app-button" [className]="config().color + '-color'">
  @if (config().matStepperNext) {
    <button
      mat-raised-button
      matStepperNext
      [matTooltip]="getText(config().tooltip)"
      [disabled]="config().disabled()"
      [color]="matColor"
      (click)="config().onClick()"
    >
      {{ config().text | textConfigTranslate }}
    </button>
  } @else {
    <button
      mat-raised-button
      [matTooltip]="getText(config().tooltip)"
      [disabled]="config().disabled()"
      [color]="matColor"
      (click)="config().onClick()"
    >
      {{ config().text | textConfigTranslate }}
    </button>
  }
</div>
